# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

name: pkgdown.yaml

permissions: read-all

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    # Only restrict concurrency for non-PR jobs
    concurrency:
      group: pkgdown-${{ github.event_name != 'pull_request' || github.run_id }}
      cancel-in-progress: true
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgdown, any::devtools, local::.
          needs: website

      - name: Build site
        run: pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE)
        shell: Rscript {0}

      - name: Generate workspace file
        run: |
          devtools::load_all()
          iscamdata <- ls(getNamespace("ISCAM"), all.names = TRUE)
          ISCAM_version <- getNamespaceInfo(getNamespace("ISCAM"), "spec")[["version"]]
          iscamdata <- c(
            iscamdata[
              !iscamdata %in%
                c(
                  ".__DEVTOOLS__",
                  ".__NAMESPACE__.",
                  ".__S3MethodsTable__.",
                  ".packageName"
                )
            ],
            Sys.glob("data/*.rda") |> basename() |> gsub("\\.rda$", "", x = _),
            "ISCAM_version"
          )
          save(list = iscamdata, file = "docs/ISCAM.RData")
        shell: Rscript {0}

      - name: Deploy site
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git add docs
          git commit -m "Build and deploy pkgdown site [ci skip]" || exit 0
          git push
